<template>
  <div>
    <q-field error-label="Select a valid team" :error="invalidTeam">
      <q-input placeholder="Team" :value="teamName">
        <q-autocomplete @selected="teamSelected" :static-data="{field: 'name', list: possibleTeamNames}"/>
      </q-input>
    </q-field>
    <q-field class="qa-mt-sm">
      <q-editor v-model="noteContent" toolbar-rounded toolbar-outline toolbar-bg="white"/>
    </q-field>
    <q-field class="qa-mt-sm">
      <q-btn color="primary" @click="postNote" label="Save"/>
    </q-field>
  </div>
</template>
<script>
export default {
  props: ['teamId'],
  data () {
    return {
      noteContent: '',
      teamName: '',
      possibleTeamNames: [],
      targetId: this.teamId,
      invalidTeam: true
    }
  },
  created () {
    if (this.targetId) {
      this.$api.team.fetchTeamName(this.targetId).then(name => { this.teamName = name }).catch(e => { this.teamName = '' + e })
    }

    this.$api.team.getIdsAndNames().then(data => {
      for (let id in data) {
        let acitem = { id: id, name: data[id], label: data[id], sublabel: id }
        this.possibleTeamNames.push(acitem)
      }
    }).catch(e => {
      console.log(e.toString())
    })
  },
  methods: {
    teamSelected (item, keyboard) {
      this.targetId = item.id
      this.validateTeam()
    },
    validateTeam () {
      if (!this.$api.team.exists(this.targetId)) {
        this.invalidTeam = true
        console.log('team invalid')
      } else {
        this.invalidTeam = false
        console.log('team valid')
      }
    },
    postNote () {
      this.validateTeam()

      try {
        this.$api.team.addNote(this.teamId, this.noteContent).then(() => {
          this.$q.notify({
            message: 'Note created.',
            color: 'positive'
          })

          this.$emit('notePosted')
          this.noteContent = ''
        })
      } catch (e) {
        this.$q.notify({
          message: 'Failed. ' + e,
          color: 'negative'
        })
      }
    }
  }
}
</script>
