<template>
  <div>
    <q-card>
      <q-card-title>{{ name }}</q-card-title>
      <q-card-actions>
          <team-add-note-btn v-bind:teamId="teamId" />
          <q-btn round icon="history" color="amber" @click="$router.push('/team/' + teamId)"/>
      </q-card-actions>
    </q-card>
  </div>
</template>
<script>
import TeamAddNoteButton from 'components/TeamAddNoteButton'
export default {
  components: {
    'team-add-note-btn': TeamAddNoteButton
  },
  props: ['name', 'teamId'],
  data () {
    return {
      showNoteDialog: false,
      noteContent: ''
    }
  }
}
</script>
