<template>
  <q-layout view="lHh Lpr lFf">
    <q-layout-header>
      <q-toolbar color="primary" :glossy="$q.theme === 'mat'" :inverted="$q.theme === 'ios'">
        <q-btn flat dense round @click="leftDrawerOpen = !leftDrawerOpen" aria-label="Menu" >
          <q-icon name="menu" />
        </q-btn>

        <q-toolbar-title>
          Agile Coach Toolkit
          <div slot="subtitle">Running on Quasar v{{ $q.version }}</div>
        </q-toolbar-title>

        <q-btn icon="note" color="amber" @click="$router.push('/action/addNote')"/>
      </q-toolbar>
    </q-layout-header>

    <q-layout-drawer v-model="leftDrawerOpen" :content-class="$q.theme === 'mat' ? 'bg-grey-2' : null">
      <q-list no-border link inset-delimiter>
        <q-item @click.native="$router.push('/')">
          <q-item-side icon="home" />
          <q-item-main label="Home" />
        </q-item>
        <q-list-header>Manage</q-list-header>
        <q-item @click.native="$router.push('/teams')">
          <q-item-side icon="device_hub" />
          <q-item-main label="Teams" sublabel="Manage teams and units" />
        </q-item>
        <q-item @click.native="$router.push('/people')">
          <q-item-side icon="people" />
          <q-item-main label="People" sublabel="Manage people details." />
        </q-item>
        <q-list-header>Settings</q-list-header>
        <q-item @click.native="$router.push('/404')">
          <q-item-side icon="settings" />
          <q-item-main label="Settings" sublabel="User details and configuration." />
        </q-item>
      </q-list>
    </q-layout-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { openURL } from 'quasar'

export default {
  name: 'MainLayout',
  data () {
    return {
      leftDrawerOpen: this.$q.platform.is.desktop
    }
  },
  methods: {
    openURL
  }
}
</script>

<style>
</style>
