<template>
  <q-page class="q-ma-md">
    <div class="row">
      <q-btn icon="refresh" dense color="secondary" @click="fetchPeople()" />
      <q-btn icon="add" dense color="secondary" class="q-ml-sm" @click="addPerson()" />
      <q-input v-model="filterContent" clearable placeholder="Filter..." class="q-ml-sm" />
    </div>
    <q-table :loading="loading" class="q-mt-md" :filter="filterContent" title="Registered People" :data="tableData" :columns="columnDefinition" row-key="name.name" />
  </q-page>
</template>
<script>
export default {
  created () {
    this.fetchPeople()
  },
  methods: {
    fetchPeople () {
      this.tableData = []
      this.loading = true
      this.$api.people.getAllPeople().then(people => {
        this.tableData = people
        this.loading = false
      }).catch(e => {
        this.loading = false
        this.error = e.toString()
      })
    },
    addPerson (event) {
      this.$q.dialog({
        title: 'Register Person',
        color: 'primary',
        ok: true,
        cancel: true,
        preventClose: true,
        position: 'bottom',
        prompt: {
          type: 'text'
        }
      }).then(name => {
        this.$api.people.addPerson(name).then(() => {
          this.$q.notify({
            message: 'Person added.',
            color: 'positive'
          })
          this.fetchPeople()
        }).catch(e => {
          this.$q.notify({
            message: 'Failed. ' + e,
            color: 'negative'
          })
        })
      }).catch(e => {
        this.$q.notify({
          message: 'Aborted: ' + e,
          color: 'negative',
          timeout: 3000
        })
      })
    }
  },
  data: () => ({
    loading: true,
    filterContent: '',
    columnDefinition: [
      {
        name: 'name',
        label: 'Name',
        field: row => row.name.name,
        align: 'left',
        sortable: true
      }
    ],
    tableData: []
  })
}
</script>
