<template>
  <q-page padding>
    <h2>Team: {{ teamName }}</h2>
    <q-spinner-cube class="absolute-center" size="50" v-if="loading"/>
    <div class="alert alert-danger" v-else-if="error">
      <p>{{ error }}</p>
    </div>
    <div class="row" v-else>
      <div class="col-1">
        <team-add-note-btn v-on:notePosted="loadNotes" v-bind:teamId="teamId" v-on:click="this.$router.go()"/>
      </div>
      <div class="col-11"/>
      <div class="col-12">
        <q-timeline>
          <q-timeline-entry icon="note" v-for="event in this.events" v-bind:subtitle="event.timestamp" v-bind:key="event.timestamp + event.content">
           <div v-html="event.content"> </div>
          </q-timeline-entry>
        </q-timeline>
      </div>
    </div>
  </q-page>
</template>
<script>
import TeamAddNoteButton from 'components/TeamAddNoteButton'
export default {
  components: {
    'team-add-note-btn': TeamAddNoteButton
  },
  data () {
    return {
      loading: true,
      error: false,
      events: {},
      teamName: undefined
    }
  },
  computed: {
    teamId () {
      return this.$route.params.id
    }
  },
  mounted () {
    this.fetchName()
    this.loadNotes()
  },
  methods: {
    fetchName () {
      return this.$api.team.getNameOf(this.teamId).then(name => { this.teamName = name }).catch(e => { this.error = '' + e })
    },
    loadNotes () {
      this.loading = true
      this.$api.team.getNotesOf(this.teamId).then(events => {
        this.transformEvents(events)
        this.loading = false
      }).catch(e => {
        this.error = 'Failed to load notes: ' + e
        this.loading = false
      })
    },
    transformEvents (events) {
      this.events = events.reverse()
      this.events.forEach(e => {
        let date = new Date(e.timestamp * 1000)
        e.timestamp = date.toLocaleString()
      })
    }
  }
}
</script>
