<template>
  <q-page class="q-ml-md">
    <div class="row">
      <div class="col-12 justify-center">
        <h3>Teams</h3>
      </div>

      <div v-if="error" class="error col-12">
          <q-alert type="negative">{{ error }}</q-alert>
      </div>

      <div  v-else class="row gutter-sm col-12">
        <transition appear enter-active-class="animated fadeIn" leave-active-class="animated fadeOut">
          <div>
            <q-card>
              <q-card-actions align="center">
                <q-btn flat size="xl" round icon="add" color="primary" label="Add Team" @click="addTeam"/>
              </q-card-actions>
               <q-card-title align="center"><span slot="subtitle">Add a new team or unit.</span></q-card-title>
            </q-card>
          </div>
        </transition>

        <div class="col-2" v-if="loading">
          <q-spinner-cube color="secondary"/>
        </div>
        <transition appear enter-active-class="animated fadeIn" leave-active-class="animated fadeOut" v-for="(name, id) in teams" v-bind:key="id" v-bind:name="name" v-else>
          <div>
            <teamcard v-bind:teamId="id" v-bind:name="name"/>
          </div>
        </transition>
      </div>
    </div>
  </q-page>
</template>

<script>
import TeamCard from 'components/TeamCard'

export default {
  data () {
    return {
      loading: true,
      error: null,
      teams: null
    }
  },
  created () {
    this.fetchTeams()
  },
  components: {
    'teamcard': TeamCard
  },
  methods: {
    fetchTeams () {
      this.$api.team.getIdsAndNames().then(data => {
        this.loading = false
        this.teams = data
      }).catch(e => {
        this.loading = false
        this.error = e.toString()
      })
    },
    addTeam (event) {
      this.$q.dialog({
        title: 'Create new team',
        color: 'secondary',
        ok: true,
        cancel: true,
        preventClose: true,
        position: 'bottom',
        prompt: {
          type: 'text'
        }
      }).then(name => {
        this.$api.team.addTeam(name).then(response => {
          if (response.status === 200) {
            this.$q.notify({
              message: 'Team created.',
              color: 'positive'
            })
          } else {
            this.$q.notify({
              message: 'Failed: ' + response.status,
              color: 'negative'
            })
          }
          this.fetchTeams()
        }).catch(e => {
          this.$q.notify({
            message: 'Failed. ' + e,
            color: 'negative'
          })
        })
      }).catch(e => {
        this.$q.notify({
          message: 'Aborted: ' + e,
          color: 'negative',
          timeout: 3000
        })
      })
    }
  }
}
</script>
